* {
  padding: 0;
  margin: 0;
  font-family: Georgia;
  line-height: 1.4rem;
}

body {
  background-color: #e7e3e4;
  color: #28282b;
}

main,
footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* *************************************************************************************************************** */

.hero-section {
  /* For layout: */
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  /* for background-image: */
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.665),
      rgba(255, 255, 255, 0.111)
    ),
    url("/images/hero-background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;

  /* Bottom section divider */
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.147);
}

/* Hero-Image: */
.hero-image-container {
}

img {
  /* For size and appearance of image: */
  height: 10rem;
  width: 9.8rem;
  border-radius: 2rem;
  box-shadow: -0.2rem 1.8rem 3.4rem rgba(0, 0, 0, 0.15);
  filter: brightness(110%);
  /* To center image: */
  display: block;
  margin: 2.5rem auto;
}

img:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
  background-color: grey;
  animation-name: animatedLogo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: alternate;
}

/* Hero-content: */

.hero-content-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro-content {
  text-align: center;
}

.intro-content h1 {
  margin-bottom: 0.2rem;
  font-size: 1.65rem;
}

.my-name {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.308);
  margin-bottom: 0.25rem;
}

.career-title {
  font-size: 0.85rem;
  font-weight: bold;
  color: #360a2b;
}

.intro-paragraph {
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 0.07rem;
  margin-top: 3rem;
  margin-bottom: 9rem;
  color: #000000;
}

/* Hero-navigation: */

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.btn {
  padding: 0.3rem 0.6rem;
  background-color: #360a2ba6;
  border: 1px solid #360a2b;
  border-radius: 5px;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);

  transition: all 0.2s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #360a2b;
}

.navigation a,
.navigation a:link,
.navigation a:visited {
  font-family: sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: none;
  color: #faf9f6;

  transition: all 0.2s;
}

.navigation a:hover,
.navigation a:active {
  transform: scale(1.1);
}

/* *************************************************************************************************************** */

.main-content-container {
  /* Space between sections */
  margin-top: 6rem;
  margin-bottom: 6rem;

  /* Bottom section divider */
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.147);
}

.main-heading {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 6rem;
}

.section-container {
  background-color: #360a2b8b;
  border-radius: 5px;
  box-shadow: -0.2rem 1.8rem 3.4rem rgba(0, 0, 0, 0.15);
  padding: 3rem 3rem;
  transition: all 0.3s;
}

.section-container:hover {
  transform: scale(1.05);
}

.heading-container {
  border-bottom: 0.5px solid #faf9f64f;
  margin-bottom: 2.5rem;
}

.section-heading {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #faf9f6;
}

.section-list {
  text-align: left;
  line-height: 1.3;
  font-size: 1rem;
  list-style: circle;
  color: #faf9f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.8rem;
}

/* *************************************************************************************************************** */
.get-in-touch {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.contact-section-container {
  margin-bottom: 10rem;
}
.contact-details-container {
  margin-bottom: 4rem;
}

.contact-form-container {
  margin-bottom: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  position: center;
  text-align: center;

  /* Background: */
  background-color: #f7d7cc42;
  box-shadow: -0.2rem 1.8rem 3.4rem rgba(0, 0, 0, 0.15);
  border: 1px solid #360a2b;
  border-radius: 5px;
  padding: 1.8rem 2rem;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.4rem;
}

input,
select,
option,
textarea {
  display: block;
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 0.2rem 0.2rem;
  border: 1px solid #360a2b;
}

textarea {
  margin-bottom: 2.5rem;
}

.submit-btn {
  padding: 1rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #faf9f6;
  background-color: #360a2ba6;
  border: 1px solid #360a2b;
  border-radius: 5px;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
}

/* Form validation: */
input:invalid,
select:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid,
input:focus:invalid {
  box-shadow: none;
}
/* *************************************************************************************************************** */

.contact-details-container {
  background-color: #360a2b8b;
  border-radius: 5px;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact-section-container {
  margin-bottom: 3rem;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.link,
.link:link,
.link:visited {
  font-size: 1rem;
  text-decoration: none;
  color: #faf9f6;
  line-height: 1.2;
  transition: all 0.2s;
}

.link:hover,
.link:active {
  transform: scale(1.1);
  color: #360a2b;
}

.contact-detail-email {
  margin-bottom: 4rem;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.contact-detail-email .link {
  color: #28282b;
  font-size: 0.88rem;
}

.contact-detail-email .link:hover,
.contact-detail-email .link:active {
  color: #360a2ba6;
}

.back-to-top {
  height: 2.2rem;
  width: 2.2rem;
  background-color: #360a2ba9;
  padding: 0.4rem 0.4rem;
  border-radius: 100%;

  transition: all 0.3s;

  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.back-to-top:hover {
  transform: scale(1.1);
}

.back-to-top-icon {
  height: 2rem;
  width: 2rem;
  color: #e7e3e4;
  display: block;
  margin: 0 auto;
}
