* {
  padding: 0;
  margin: 0;

  /* Remember to change font family to something better */
  font-family: ;
}

body {
  background-color: #e7e3e4;
  color: #28282b;
}

main,
footer {
  padding-left: 10%;
  padding-right: 10%;
}

/* *************************************************************************************************************** */

.hero-section {
  /* For layout: */
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  /* for background-image: */
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.665),
      rgba(255, 255, 255, 0.111)
    ),
    url("/images/hero-background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;

  /* Bottom section divider */
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.147);
}

/* Hero-Image: */
.hero-image-container {
}

img {
  /* For size and appearance of image: */
  height: 60%;
  width: 50%;
  border-radius: 15%;
  box-shadow: -0.2rem 1.8rem 3.4rem rgba(0, 0, 0, 0.15);
  filter: brightness(110%);
  /* To center image: */
  display: block;
  margin: 15% auto;
}

/* Hero-content: */

.hero-content-container {
  padding-left: 5%;
  padding-right: 5%;
}

.intro-content {
  text-align: center;
}

.my-name {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.308);
  margin-bottom: 0.25rem;
}

.intro-content h1 {
  margin-bottom: 0.2rem;
  font-size: 1.9rem;
}

.career-title {
  font-size: 0.8rem;
  font-weight: bold;
  color: #360a2b;
}

.intro-paragraph {
  font-size: 1.1rem;
  margin-bottom: 60%;
  color: #000000;
}

/* Hero-navigation: */

.navigation {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.btn {
  padding: 3% 6%;
  background-color: #360a2ba6;
  border: 1px solid #360a2b;
  border-radius: 5px;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
}

/* Style hover state */

.navigation a {
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  color: #faf9f6;
}

/* *************************************************************************************************************** */

.main-content-container {
  /* Space between sections */
  margin-top: 30%;
  margin-bottom: 20%;

  /* Bottom section divider */
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.147);
}

.main-heading {
  font-size: 1.4rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 20%;
  margin-bottom: 20%;
}

.section-container {
  background-color: #360a2b8b;
  border-radius: 5px;
  box-shadow: -0.2rem 1.8rem 3.4rem rgba(0, 0, 0, 0.15);
  padding: 2rem 2rem;
  padding-left: 2.5rem;
}

.heading-container {
  border-bottom: 0.5px solid #faf9f64f;
  margin-bottom: 2.5rem;
}

.section-heading {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #faf9f6;
}

.section-list {
  font-size: 1rem;
  list-style: circle;
  color: #faf9f6;
}

li {
  line-height: 1.4rem;
  margin-bottom: 0.8rem;
}

/* footer {
  background-color: #360a2b;
} */

/* *************************************************************************************************************** */
/* *************************************************************************************************************** */
.contact-details-container {
  background-color: #360a2b8b;
  border-radius: 5px;
  padding: 10% 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-detail {
  display: flex;
  gap: 1.2rem;
}

.contact-detail a {
  font-size: 0.88rem;
  text-decoration: none;
  color: #faf9f6;
  line-height: 1.2;
}

.icon {
  width: 24px;
  height: 24px;
}

.contact-detail-email {
  margin-top: 10%;
  display: flex;
  gap: 1.2rem;
}

.contact-detail-email p {
  display: inline-block;
  font-size: 0.88rem;
}
