* {
  padding: 0;
  margin: 0;

  /* Remember to change font family to something better */
  font-family: ;
}

body {
  background-color: #e7e3e4;
}

main,
footer {
  padding-left: 10%;
  padding-right: 10%;
}

/* *************************************************************************************************************** */

.hero-section {
  /* For layout: */
  display: flex;
  flex-direction: column;

  /* for background-image: */
  height: 100vh;
  background: #360a2b url("/images/hero-background-image.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

/* Hero-Image: */
.hero-image-container {
}

img {
  /* For size and appearance of image: */
  height: 50%;
  width: 40%;
  border-radius: 10%;

  /* To center image: */
  display: block;
  margin: 20% auto;
}

/* Hero-content: */

.hero-content-container {
  padding-left: 5%;
  padding-right: 5%;
}

.intro-content {
  text-align: center;
}

.intro-content h1 {
  margin-bottom: 2px;
  font-size: 1.8em;
}

.career-title {
  font-size: 0.75em;
  font-weight: bold;
}

.intro-paragraph {
  margin-bottom: 25%;
  display: block;
}

/* Hero-navigation: */

.navigation {
  display: flex;
  justify-content: center;
  gap: 10%;
}

button {
  padding: 2% 4%;
  background-color: #360a2bd3;
  border: 1px solid #360a2b;
  border-radius: 5px;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
}

.navigation a {
  font-size: 0.7em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/* *************************************************************************************************************** */

/* footer {
  background-color: #360a2b;
} */
