* {
  padding: 0;
  margin: 0;

  /* Remember to change font family to something better */
  font-family: ;
}

body {
  background-color: #e7e3e4;
}

.hero-section {
}

/* footer {
  background-color: #360a2b;
} */
